.b-checkbox {
  &.checkbox {
    input[type=checkbox] {
      + .check {
        border-radius: 2px;
        border: 1px solid $primary;
        position: relative;
        width: 1.5rem;
        height: 1.5rem;

        &:before {
          content: '';
          display: flex;
          position: absolute;
          left: 50%;
          margin-left: calc(-1.5rem/2);
          bottom: 50%;
          margin-bottom: calc(-1.5rem/2);
          width: 1.5rem;
          height: 1.5rem;
          transition: transform .15s ease-out;
          transform: scale(0);
          background-color: $primary;
          border-radius: 1px;
        }
      }
      &:checked + .check {
        background: none;

        &:before {
          transform: scale(.4);
        }
      }
    }
    .control-label {
      padding-left: 0.75rem;
    }
  }
}
